 html {
  height: 100%;
  width: 100%;
}


body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #ce0d0d;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

h1, h2 {
  color: #000000;
}

/* "My Github Profile" text*/
p {
  color: #000000;
  margin-left: -600px;
  margin-top: 50px;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
    text-align: center;
}

/* My Github Profile button*/
.button {
    position: absolute;
    top: 25%;
    margin-left: -385px;
    padding: 15px 32px;
}
